<div class="titulos justify-content-center">
    <h2>Pedidos</h2>
</div>

  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <label for="pedido1">Digite o número do pedido:</label>
        <input type="text" id="pedido1" class="form-control rounded-input">
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="pedido2">Digite o número do cliente:</label>
        <input type="text" id="pedido2" class="form-control rounded-input">
      </div>
    </div>
  </div>

<table class="table table-striped table-primary">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Número</th>
        <th scope="col">Horário</th>
        <th scope="col">Cliente</th>
        <th scope="col">Total</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>mdo</td>
        <td>1000</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>fat</td>
        <td>1000</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>twitter</td>
        <td>1000</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>twitter</td>
        <td>1000</td>
      </tr>
    </tbody>
  </table>