*{
    
}

.titulos{
    display: flex;
    justify-content: center;
}

.buscador{
    margin-left: 10px;
    display: flex;
}

.buscador input{
    text-indent: 25px;
    height: 40px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.589);
    width: 15vmax;    
}

.tupla{
    font-size: 1.2rem ;
    position: absolute;
    margin-left: 250px;
    margin-top: 10px;
}
.table-striped thead {
    background-color: #6C79DF; /* Cor roxo escura */
    color: white; /* Letras brancas */
    height: 45px;
  }

  .table-striped tbody tr:nth-of-type(odd) {
    background-color: #f5f5f5;
  }

  .table-striped tbody tr:nth-of-type(odd) {
    background-color: #ffffff; /* Azul claro quase branco */
  }

  .table-striped tbody tr:nth-of-type(even) {
    background-color: white; /* Branco para as linhas pares */
  }