<div class="container-fluid">
  <div class="row ">
    <div class="col titulos"><h4 class="mt-4"><i class="fa-solid fa-cart-shopping icone"></i>Pedidos</h4></div>
    <div class="col">
      <div class="adicionar">
        <button type="button" class="btn btn-dark"><a href="/pedidos/novo"><i class="fa-solid fa-plus fa-beat-fade add"></i>Adicionar</a></button>
      </div>
    </div>
  </div>
  
  
  <div class="row no-gutters">
    <div class="col-2">
      <div class="form-group pedidoin">
        <label for="pedido1">Digite o número do pedido:</label>
        <input type="text" id="pedido1"  placeholder="Número do pedido"    class="form-control rounded-input" [(ngModel)]="numeroPedido">
      </div>
    </div>
    <div class="col-2 cliente_input">
      <div class="form-group ">
        <label for="pedido2 ">Digite o cliente:</label>
        <input type="text" id="cliente"  placeholder="Código do cliente" class="form-control rounded-input " [(ngModel)]="numeroCliente">
      </div>
    </div>
    <div class="col-2 cliente_input">
      <div class="form-group">
        <label for="dataInicio">Data de Início</label>
        <input type="date" id="dataInicio" class="form-control rounded-input" [(ngModel)]="dataInicio">
      </div>
    </div>
    <div class="col-2 cliente_input">
      <div class="form-group">
        <label for="dataFim">Data Final</label>
        <input type="date" id="dataFim" class="form-control rounded-input" [(ngModel)]="dataFim">
      </div>
    </div>
    
    
    <div class="col-2">
      <div class="botao">
        <button (click)="getBuscar(numeroPedido, numeroCliente, dataInicio, dataFim)" type="button" class="btn btn-primary"><i class="fa-solid fa-magnifying-glass tupla"></i>Pesquisar</button>
      </div>
    </div>

    </div>

<table class="table table-bordered capa  mt-4">
    <thead class="">
      <tr>
        <th scope="col">Número</th>
        <th scope="col">Horário</th>
        <th scope="col">Cliente</th>
        <th scope="col">Desconto</th>
        <th scope="col">Total</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
    <tr *ngFor="let pedidos of pedido">
      <td>{{pedidos.pedidoid}}</td>
      <td>{{pedidos.entrada}}</td>
      <td>{{pedidos.cliente}}</td>
      <td>{{pedidos.desconto}}</td>
      <td>{{pedidos.total}}</td>
      <td>
        <a (click)="AbrirPedido(pedidos.pedidoid)" class="editar" data-toggle="modal"><i class="material-icons fa fa-pencil icone" data-toggle="tooltip" title="Editar"></i></a>
        <a (click)="deletePedido(pedidos.pedidoid)"  class="deletar" data-toggle="modal"><i class="fa-solid fa-trash icone" data-toggle="tooltip" title="Deletar"></i></a>
      </td>

    </tr>
    </tbody>
  </table>
</div>