.titulos{
    display: flex;
    margin-left: 82vh;
    margin-bottom: 2vh;
}

.buscador{
    margin-left: 10px;
    display: flex;
}

.buscador input{
    text-indent: 25px;
    height: 40px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.589);
    width: 15vmax;    
}

.tupla{
    font-size: 1.2rem ;
    position: absolute;
    margin-left: 250px;
    margin-top: 10px;
}
.table-striped thead {
    background-color: #6C79DF; 
    color: white; 
    height: 45px;
  }

  .table-striped tbody tr:nth-of-type(odd) {
    background-color: #f5f5f5;
  }

  .table-striped tbody tr:nth-of-type(odd) {
    background-color: #ffffff; 
  }

  .table-striped tbody tr:nth-of-type(even) {
    background-color: white; 
  }
  .botao button{
    width: 20vh;
    margin-top: 24px;
  }
  .row{
    margin-left: 50vh;
  }
  .deletar{
    color: #F44336;
    font-size: 1.3rem;
}
.editar{
  color: #FFC107;
  font-size: 1.3rem;
}
.table td a:nth-child(n+2) {
  margin-left: 15px;
}