<div class="titulos">
    <h2 class="mt-4">Pedidos</h2>
</div>

  <div class="row">
    <div class="col-2">
      <div class="adicionar">
        <button  type="button" class="btn  btn-light rounded-pill"><i class="fa-solid fa-plus fa-beat-fade add"></i>Adicionar</button>
        
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group pedidoin">
        <label for="pedido1">Digite o número do pedido:</label>
        <input type="text" id="pedido1"  placeholder="Digite o número do pedido"    class="form-control rounded-input" [(ngModel)]="numeroPedido">
      </div>
    </div>
    <div class="col-md-3 ">
      <div class="form-group ">
        <label for="pedido2 ">Digite o número do cliente:</label>
        <input type="text" id="pedido2"  placeholder="Digite o número do cliente" class="form-control rounded-input " [(ngModel)]="numeroCliente">
      </div>
    </div>
    <div class="col-3">
      <div class="botao">
        <button (click)="getBuscar(numeroPedido, numeroCliente)" type="button" class="btn btn-primary">Pesquisar</button>
      </div>
    </div>

    </div>

<table class="table table-striped capa  mt-4">
    <thead class="">
      <tr>
        <th scope="col">Número</th>
        <th scope="col">Horário</th>
        <th scope="col">Cliente</th>
        <th scope="col">Desconto</th>
        <th scope="col">Total</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
    <tr *ngFor="let pedidos of pedido">
      <td>{{pedidos.pedidoid}}</td>
      <td>{{pedidos.entrada}}</td>
      <td>{{pedidos.cliente}}</td>
      <td>{{pedidos.desconto}}</td>
      <td>{{pedidos.total}}</td>
      <td>
        <a href="#" class="deletar" data-toggle="modal"><i class="fa-solid fa-trash icone" data-toggle="tooltip" title="Deletar"></i></a>
        <a href="#" class="editar" data-toggle="modal"><i class="material-icons fa fa-pencil icone" data-toggle="tooltip" title="Editar"></i></a>
      </td>

    </tr>
    </tbody>
  </table>