<div class=" container mt-2 text-center" >
    <h2>Cadastro de Produtos</h2>
    <form >
      <div class="row ">
        <div class="col-4" >
          <div class="form-group ">
            <label for="productName">Nome do Produto</label>
            <input type="text" class="form-control" id="productName" name="productName" ngModel required>
          </div>
        </div>
        <div class="col-4">
          <div class="form-group">
            <label for="status">Status</label>
            <select class="form-control" id="status" name="status" ngModel required>
              <option value="ativo">Ativo</option>
              <option value="inativo">Inativo</option>
            </select>
          </div>
        </div>
        <div class="col-4">
          <div class="form-group">
            <label for="productCode">Código do Produto</label>
            <input type="text" class="form-control" id="productCode" name="productCode" ngModel required>
          </div>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-4">
          <div class="form-group">
            <label for="barcode">Código de Barras</label>
            <input type="text" class="form-control" id="barcode" name="barcode" ngModel required>
          </div>
        </div>
        <div class="col-4">
          <div class="form-group">
            <label for="price">Preço</label>
            <input type="number" class="form-control" id="price" name="price" ngModel required>
          </div>
        </div>
        <div class="col-4">
          <div class="form-group">
            <label for="stock">Estoque</label>
            <input type="number" class="form-control" id="stock" name="stock" ngModel required>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary mt-4">Cadastrar Produto</button>
    </form>
  </div>
  