.container-fluid{
  width: 105%;
  --bs-gutter-x: 3rem;
}
.inputesquerda{
    margin-left: 500px;
}
.fa-parachute-box{
    margin-right: 10px
}
.modal-title{
    margin-left: 12vh;
    color: #27a17d;
  }
.modal-open .modal-backdrop{
    background-color:yellow
  
  }
div#exampleModal {
    background-color: rgba(0, 0, 0, 0.8) !important;
  }
.enviado{
    font-size: 3rem;
    margin-left: 22vh;
  }
  .btn-close{
    margin-left: 49vh;
  }