<div class=" container mt-2 text-center" >
  <h5 class="mb-4"><i class="fa-solid fa-parachute-box"></i>Cadastro de Produtos</h5>
    <form #addForm="ngForm" (ngSubmit)="onAddProduto(addForm)">
      <div class="row ">
        <div class="col-4" >
          <div class="form-group ">
            <label for="nome">Nome do Produto</label>
            <input type="text" class="form-control" ngModel name="nome" id="nome" name="nome" ngModel required>
          </div>
        </div>
        <div class="col-4">
          <div class="form-group">
            <label for="status">Status</label>
            <select class="form-control" id="status" name="status" ngModel name="status" required>
              <option value="" disabled selected hidden>Selecione uma opção</option>
              <option value="1">Ativo</option>
              <option value="2">Inativo</option>
            </select>
          </div>
        </div>
        <div class="col-4">
          <div class="form-group">
            <label for="codigo">Código do Produto</label>
            <input type="text" class="form-control" id="codigo" ngModel name="codigo" required>
          </div>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-4">
          <div class="form-group">
            <label for="codigoEan">Código de Barras</label>
            <input type="text" class="form-control" id="codigoEan" ngModel name="codigoEan">
          </div>
        </div>
        <div class="col-4">
          <div class="form-group">
            <label for="preco">Preço</label>
            <input type="number" class="form-control" id="preco" ngModel name="preco" required>
          </div>
        </div>
        <div class="col-4">
          <div class="form-group">
            <label for="estoque">Estoque</label>
            <input type="number" class="form-control" id="estoque" [(ngModel)]="estoque" ngModel name="estoque" required>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary mt-4">Cadastrar Produto</button>
    </form>
  </div>
  