.colunapreco{
    width: 90vh!important;
}

.colunapreco input{
    
    border-radius: 0.375rem!important;
}
.colunapreco button{
 margin-left: 25px;
}
.table-striped thead {
    background-color: #6C79DF; 
    color: white; 
    height: 45px;
  }

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f5f5f5;
  }

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #ffffff; 
  }

.table-striped tbody tr:nth-of-type(even) {
    background-color: white; 
  }