<div class="container-fluid">
  <div class="row ">
    <div class="col titulos"><h4 class="mt-4"><i class="fa-solid fa-box icone"></i>Produtos</h4></div>
    <div class="col">
      <div class="adicionar">
        <button type="button" class="btn btn-dark"><a href="/produtos/novo"><i class="fa-solid fa-plus fa-beat-fade add"></i>Adicionar</a></button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <div class="form-group pedidoin">
        <label for="pedido1">Digite o código do produto:</label>
        <input type="text" id="pedido1"  placeholder="Código do produto"    class="form-control rounded-input" >
      </div>
    </div>
    <div class="col-2 cliente_input">
      <div class="form-group ">
        <label for="pedido2 ">Digite o nome do produto:</label>
        <input type="text" id="cliente"  placeholder="Nome do produto" class="form-control rounded-input ">
      </div>
    </div>
    <div class="col-3">
      <div class="botao">
        <button  type="button" class="btn btn-primary"><i class="fa-solid fa-magnifying-glass tupla"></i>Pesquisar</button>
      </div>
    </div>

    </div>

<table class="table table-bordered capa  mt-4">
    <thead class="">
      <tr>
        <th scope="col">Código</th>
        <th scope="col">Status</th>
        <th scope="col">Nome</th>
        <th scope="col">Preço</th>
        <th scope="col">Estoque</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let produtos of produto">
        <td>{{produtos.codigo}}</td>
        <td>{{produtos.status}}</td>
        <td>{{produtos.nome}}</td>
        <td>{{produtos.preco}}</td>
        <td>{{produtos.estoqueProduto}}</td>
        <td>
          <a (click)="AbrirProduto(produtos.produtoid)" class="editar" data-toggle="modal"><i class="material-icons fa fa-pencil icone" data-toggle="tooltip" title="Editar"></i></a>
          <a (click)="deletarProdutos(produtos.produtoid)" href="#" class="deletar" data-toggle="modal"><i class="fa-solid fa-trash icone" data-toggle="tooltip" title="Deletar"></i></a>
        </td>
  
      </tr>
    </tbody>
  </table>
</div>
