<div class="container-fluid">
  <div class="row ">
    <div class="col titulos"><h4 class="mt-4"><i class="fa-solid fa-user-group icone"></i>Clientes</h4></div>
    <div class="col">
      <div class="adicionar">
        <button type="button" class="btn btn-dark"><a href="/clientes/novo"><i class="fa-solid fa-plus fa-beat-fade add"></i>Adicionar</a></button>
      </div>
    </div>
  </div>
  

  <div class="row no-gutters">
    <div class="col-2">
      <div class="form-group pedidoin">
        <label for="pedido1">Digite o número do cliente:</label>
        <input type="text" id="pedido1"  placeholder="Número do cliente"    class="form-control rounded-input" >
      </div>
    </div>
    <div class="col-2 cliente_input">
      <div class="form-group ">
        <label for="pedido2 ">Digite o Cnpj do cliente:</label>
        <input type="text" id="cliente"  placeholder="Cnpj do cliente" class="form-control rounded-input ">
      </div>
    </div>
    <div class="col-3">
      <div class="botao">
        <button  type="button" class="btn btn-primary"><i class="fa-solid fa-magnifying-glass tupla"></i>Pesquisar</button>
      </div>
    </div>

    </div>

<table class="table table-bordered capa  mt-4">
    <thead class="">
      <tr>
        <th scope="col">Número</th>
        <th scope="col">Cnpj/Cpf</th>
        <th scope="col">Nome Fantasia</th>
        <th scope="col">Status</th>
        <th scope="col">E-mail</th>
        <th scope="col">Telefone</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let clientes of cliente">
        <td>{{clientes.clienteid}}</td>
        <td>{{clientes.cnpjoucpf}}</td>
        <td>{{clientes.nomeFantasia}}</td>
        <td>{{clientes.status}}</td>
        <td>{{clientes.email}}</td>
        <td>{{clientes.telefone}}</td>
        <td>
          <a (click)="AbrirCliente(clientes.clienteid)" class="editar" data-toggle="modal"><i class="material-icons fa fa-pencil icone" data-toggle="tooltip" title="Editar"></i></a>
          <a (click)="deletarClientes(clientes.clienteid)" href="#" class="deletar" data-toggle="modal"><i class="fa-solid fa-trash icone" data-toggle="tooltip" title="Deletar"></i></a>
        </td>
  
      </tr>
    </tbody>
  </table>