<div class="container"></div>

<div class="titulos">
    <h2 class="mt-4">Clientes</h2>
</div>

  <div class="row">
    <div class="col-2">
      <div class="adicionar">
        <button type="button" class="btn btn-light rounded-pill">
          <a href="/pedidos/novo">
            <i class="fa-solid fa-plus fa-beat-fade add"></i> Adicionar
          </a>
        </button>
        
      </div>
    </div>
    <div class="col-2">
      <div class="form-group pedidoin">
        <label for="pedido1">Digite o número do pedido:</label>
        <input type="text" id="pedido1"  placeholder="Número do pedido"    class="form-control rounded-input" >
      </div>
    </div>
    <div class="col-2 cliente_input">
      <div class="form-group ">
        <label for="pedido2 ">Digite o cliente:</label>
        <input type="text" id="cliente"  placeholder="Código do cliente" class="form-control rounded-input ">
      </div>
    </div>
    <div class="col-3">
      <div class="botao">
        <button  type="button" class="btn btn-primary"><i class="fa-solid fa-magnifying-glass tupla"></i>Pesquisar</button>
      </div>
    </div>

    </div>

<table class="table table-striped capa  mt-4">
    <thead class="">
      <tr>
        <th scope="col">Número</th>
        <th scope="col">Horário</th>
        <th scope="col">Cliente</th>
        <th scope="col">Desconto</th>
        <th scope="col">Total</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>